.pagediv{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #eee;
    padding: 0.3em;
}

.consult{
    padding: 0.5em;
    list-style: none;
    background-color: #888;
    border-radius: 12px;
}