.home{
    min-block-size: 36em;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #eee;
}
.home a:hover{
    background-color: #bbb;
    border-radius: 12px;
}